@using Experiment.Web.Models;

@model Experiment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@Model.Something</p>

    <a id="switch-to-two" href="#">Switch to Module: 2, OtherModule: 2</a><br />
    <a id="switch-to-one" href="#">Switch to Module: 1, OtherModule: 1</a><br />

    <div id="dependency-list"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#switch-to-two").click(function (e) {
                e.preventDefault();

                var manifest = {
                    Dependencies: [{
                        Namespace: "Experiment.Lib.Interface.IModule,Experiment.Lib",
                        Version: "2"
                    }, {
                        Namespace: "Experiment.Lib.Interface.IOtherModule,Experiment.Lib",
                        Version: "2"
                    }]
                };

                SwitchVersion(manifest);
            });

            $("#switch-to-one").click(function (e) {
                e.preventDefault();

                var manifest = {
                    Dependencies: [{
                        Namespace: "Experiment.Lib.Interface.IModule,Experiment.Lib",
                        Version: "1"
                    }, {
                        Namespace: "Experiment.Lib.Interface.IOtherModule,Experiment.Lib",
                        Version: "1"
                    }]
                };

                SwitchVersion(manifest);
            });

            function SwitchVersion(manifest) {
                $.ajax({
                    url: "/Experiment/SwitchModule",
                    method: "POST",
                    data: manifest
                }).done(function (response) {
                    $("#dependency-list").text(JSON.stringify(response));
                }).fail(function (response) {
                    $("#dependency-list").text(JSON.stringify(response));
                })
            }
        })
    </script>
</body>
</html>
